.clear-fix {
  *zoom: 1;
}
.clear-fix::after {
  content: "";
  clear: both;
  display: block;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  min-height: 150px;
  padding: 20px;
  color: yellow;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.nav-menu {
  width: 100%;
}
.nav-menu ul {
  width: 43%;
  min-width: 564px;
  margin: 0 auto;
}
.nav-menu ul li {
  float: left;
  margin-right: 35px;
  list-style-type: none;
  
}
.nav-menu ul li a {
  padding: 10px 20px;
  background-color: #3F8D8B;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 3px;
}
.nav-menu ul li a:hover{
  background-color: #98A2A9;
  color: #000;
}